@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Welcome to Flickr</h2>

<p>Praesent malesuada quis dolor vitae ullamcorper. Vivamus sagittis consectetur purus, at gravida erat accumsan nec. Etiam eleifend sit amet sapien sed placerat. Fusce tincidunt tincidunt eleifend. Donec et leo in nisi accumsan ornare ac posuere orci. Curabitur mollis iaculis ligula, non auctor nibh vehicula a. Nulla bibendum dignissim fringilla. Ut nulla augue, efficitur vitae volutpat in, pellentesque at purus. Nam id tortor non tortor venenatis posuere quis a odio. Nunc ornare arcu in varius ultrices. Fusce elementum eros sit amet tellus tristique mollis. Morbi finibus pretium hendrerit. Quisque lacinia at eros eget finibus.</p>